@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Exame matematica";
}

<div style="text-align: center">
    <h1>calculadora somar pra exame MATEMATICA A DO 13º ANO</h1>

    <form asp-controller="Entry" method="post">
        <input type="text" name="op" readonly id="op" value="@Context.Session.GetString("op")" />
        <input type="submit" name="num" value="1" formaction="/Entry/numero" />
        <input type="submit" name="num" value="2" formaction="/Entry/numero" />
        <input type="submit" name="num" value="3" formaction="/Entry/numero" />
        <input type="submit" name="num" value="4" formaction="/Entry/numero" />
        <input type="submit" name="num" value="5" formaction="/Entry/numero" />
        <input type="submit" name="num" value="6" formaction="/Entry/numero" />
        <input type="submit" name="num" value="7" formaction="/Entry/numero" />
        <input type="submit" name="num" value="8" formaction="/Entry/numero" />
        <input type="submit" name="num" value="9" formaction="/Entry/numero" />
        <input type="submit" name="num" value="0" formaction="/Entry/numero" />
        <input type="submit" name="clear" value="C" formaction="/Entry/clear" />
        <input type="submit" name="add" value="+" formaction="/Entry/add" />
        <input type="submit" name="sub" value="-" formaction="/Entry/sub" />
        <input type="submit" name="mult" value="*" formaction="/Entry/mult" />
        <input type="submit" name="div" value="/" formaction="/Entry/div" />
        <input type="submit" name="result" value="=" formaction="/Entry/result" />
    </form>
</div>


