@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Exame matematica";
}

<div style="text-align: center">
    <h1>calculadora somar pra exame MATEMATICA A DO 15º ANO</h1>

    <form asp-controller="Entry" method="post">
        <input type="text" name="op" readonly id="op" value="@Context.Session.GetString("op")" />
        <div>
            <input type="submit" name="num" value="1" formaction="/Entry/numero" />
            <input type="submit" name="num" value="2" formaction="/Entry/numero" />
            <input type="submit" name="num" value="3" formaction="/Entry/numero" />
            <input type="submit" name="add" value="+" formaction="/Entry/add" />

        </div>
        
        <div>
            <input type="submit" name="num" value="4" formaction="/Entry/numero" />
            <input type="submit" name="num" value="5" formaction="/Entry/numero" />
            <input type="submit" name="num" value="6" formaction="/Entry/numero" />
            <input type="submit" name="sub" value="-" formaction="/Entry/sub" />
        </div>
        
        <div>
            <input type="submit" name="num" value="7" formaction="/Entry/numero" />
            <input type="submit" name="num" value="8" formaction="/Entry/numero" />
            <input type="submit" name="num" value="9" formaction="/Entry/numero" />
            <input type="submit" name="mult" value="*" formaction="/Entry/mult" />
        </div>

        <div>
            <input type="submit" name="clear" value="C" formaction="/Entry/clear" />
            <input type="submit" name="num" value="0" formaction="/Entry/numero" />
            <input type="submit" name="result" value="=" formaction="/Entry/result" />
            <input type="submit" name="div" value="/" formaction="/Entry/div" />
        </div>

        <div>
            <input type="submit" name="sqrt" value="√" formaction="/Entry/sqrt" />
            <input type="submit" name="power" value="^" formaction="/Entry/power" />
            <input type="submit" name="fraction" value="1/x" formaction="/Entry/fraction" /> //fazer fracao
            <input type="submit" name="inverse" value="+/-" formaction="/Entry/inverse" />
        </div>

        <div>
            <input type="submit" name="factorial" value="x!" formaction="/Entry/factorial" />
        </div>
    </form>
</div>


