@{
    ViewData["Title"] = "Exame matematica";
}

<div style="text-align: center">
    <h1>calculadora somar pra exame MATEMATICA A DO 13º ANO</h1>

    <form asp-controller="Entry" asp-action="InputForm" method="post">
        <input type="text" asp-for-a name="a" id="a" />
        <input type="text" asp-for-b name="b" id="b" />
        <button type="submit">Somar</button>
    </form>
</div>


