@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Exame matematica";
}

<div >
    <h1>calculadora somar pra exame MATEMATICA A DO 15º ANO</h1>
    <br />
    <form asp-controller="Calc" method="post">
        <input class="textboxfixe" type="text" name="op" readonly id="op" value="@Context.Session.GetString("op")" />
        <br />
        <br />
        <div>
            <input class="botaofixe" type="submit" name="sqrt" value="√" formaction="/Calc/sqrt" />
            <input class="botaofixe" type="submit" name="power" value="^" formaction="/Calc/power" />
            <input class="botaofixe" type="submit" name="fraction" value="1/x" formaction="/Calc/fraction" />
            <input class="botaofixe" type="submit" name="div" value="/" formaction="/Calc/div" />
            <input class="botaofixe" type="submit" name="factorial" value="x!" formaction="/Calc/factorial" />
        </div>
        
        <div>
            <input class="botaofixe" type="submit" name="num" value="7" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="num" value="8" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="num" value="9" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="mult" value="*" formaction="/Calc/mult" />
            <input class="botaofixe" type="submit" name="module" value="|x|" formaction="/Calc/module" />
        </div>

        <div>
            <input class="botaofixe" type="submit" name="num" value="4" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="num" value="5" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="num" value="6" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="sub" value="-" formaction="/Calc/sub" />
        </div>

        <div>
            <input class="botaofixe" type="submit" name="num" value="1" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="num" value="2" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="num" value="3" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="add" value="+" formaction="/Calc/add" />
        </div>

        <div>
            <input class="botaofixe" type="submit" name="inverse" value="+/-" formaction="/Calc/inverse" />
            <input class="botaofixe" type="submit" name="num" value="0" formaction="/Calc/numero" />
            <input class="botaofixe" type="submit" name="clear" value="C" formaction="/Calc/clear" />
            <input class="botaofixe" type="submit" name="result" value="=" formaction="/Calc/result" />
        </div>
    </form>
</div>


