@{
    ViewData["Title"] = "Teu Pai man";
}

<div class="text-center">
    <h1 class="display-4">Hola como tale tale vu</h1>
    <h2>teu pai</h2>

    <p>my name <a href="https://www.youtube.com/watch?v=D04mBspXpFw">luis abreo</a>.</p>
</div>
