@{
    ViewData["Title"] = "Teu Pai man";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>teu pai</h2>
    <h2>teu pai</h2>
    <h2>teu pai</h2>
    <h2>teu pai</h2>
    <h2>teu pai</h2>
    <h2>teu pai</h2>
    <img style="height: 500px; width: 300px;" src="~/imgs/pai.jpg"/>
    <p>i like <a href="https://www.youtube.com/watch?v=bpTVStCJPto">men</a>.</p>
</div>
